@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .aligen-content {
    @apply max-w-7xl m-auto px-5;
  }
  #root {
    width: 100%;
  }
  body {
    width: 100%;
    height: 100vh;
  }
  .item-border {
    @apply border p-5 rounded-xl  hover:shadow-md;
  }
  .employee-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .employee-list.active {
    max-height: 300px; /* Максимальная высота раскрытого блока */
  }
}
